# Node
node_modules/
dist/
build/
.npm
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Docker
.dockerignore

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
backend/storage/*
!backend/storage/.gitkeep
